<ion-content color="danger" padding>
    <div style="text-align: center; padding-top: 80px; padding-bottom: 50px;">
      <ion-label style="font-size: larger;">K-LIMA</ion-label>
    </div>
      <ion-item style="padding-bottom: 20px;">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item style="padding-bottom: 20px;">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  
      <ion-button color="primary" style="float: right;">MASUK</ion-button>
	  <ion-button color="primary" style="float: left;">Buat Akun Baru</ion-button>

  </ion-content>